{% extends 'generator/base.html' %}

{% block content %}

    <!-- About Section-->
    <section class="bg-light py-5">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-xxl-8">
                    <div class="text-center my-5">
                        <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">About</span></h2>
                        <p class="lead fw-light mb-4">Mauris id orci posuere, fringilla mi nec, fringilla ante.</p>
                        <p class="text-muted">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Suspendisse vestibulum convallis nulla, eu fermentum ex dictum eu. Donec luctus, magna a malesuada viverra, lorem magna aliquam ligula, vitae lobortis eros erat ut eros. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed pretium dignissim turpis eu bibendum. In commodo mollis erat, tincidunt tristique magna pretium at. Sed convallis dolor eget iaculis cursus. Proin vitae pharetra elit. Nam tempor, est ac mattis iaculis, justo ante posuere enim, efficitur mollis turpis ex ut elit. Sed laoreet a lorem non placerat. Duis sed diam et diam tempus ullamcorper eget non nunc. Sed volutpat, sem ut malesuada accumsan, enim nibh pretium nisi, in lacinia neque est et lacus.</p>

                        <!-- <div class="my-5">
                            <a href="{% url 'home' %}" class="btn btn-lg btn-dark">Home</a>
                        </div> -->

                        <div class="d-flex justify-content-center fs-2 gap-4">
                            <a class="text-gradient" href="#!"><i class="bi bi-twitter"></i></a>
                            <a class="text-gradient" href="#!"><i class="bi bi-linkedin"></i></a>
                            <a class="text-gradient" href="#!"><i class="bi bi-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}